.root {
  min-height: 800px;
  .flex-center();
  flex-direction: column;

  pre {
    padding: 16px !important;
    background: #f6f8fa !important;
    border-radius: 6px;
  }

  .tips {
    margin-bottom: @space-2;
  }
}
