#root {
  height: 100%;
  min-height: 100%;
  background-color: @layout-body-background;
  & > * {
    min-height: 100%;
  }
}
img {
  display: block;
}
label {
  font-weight: 600;
}

.ant-divider.ant-divider-horizontal {
  margin: 12px 0 8px;
}
.ant-card {
  overflow: hidden;
  border-radius: @radius-2 !important;
  box-shadow: @box-shadow;
  &.ant-card-bordered {
    border: none;
  }
  & > .ant-card-head {
    min-height: 40px;
    border-bottom: none;
    .ant-card-head-title,
    .ant-card-extra {
      padding-bottom: 0;
    }
  }
}
.ant-badge-status-processing {
  background-color: @primary-color !important;
  &::after {
    border-color: @primary-color !important;
  }
}
.ant-menu {
  .ant-menu-item:first-child {
    margin-top: 0;
  }
  .ant-menu-item-selected::after {
    right: auto;
    left: 0;
    transform: scaleY(1);
    opacity: 1;
    transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
      opacity 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
}
.ant-menu-inline-collapsed > .ant-menu-item {
  padding: 0 16px !important;
}
.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left {
  border: none !important;
}
.ant-menu-sub.ant-menu-inline {
  background: transparent;
}
.ant-layout-header {
  padding: 0;
  height: 72px;
  line-height: 72px;
  .flex();
  flex-direction: column;
  justify-content: center;
  padding: 0 @space-2;
  .ant-page-header {
    padding: 0;
  }
}
.ant-form-item-explain,
.ant-form-item-extra {
  margin: 0;
}
.ant-space {
  display: flex !important;
}
.ant-upload.ant-upload-select {
  position: relative;
}
.ant-table-thead > tr > th {
  font-weight: 600 !important;
}
