// Colors
@primary-color: #1c1917;
@success-color: #22c55e;
@info-color: #3b82f6;
@warning-color: #f59e0b;
@error-color: #ef4444;
@text-color-secondary: #a1a1aa;
@body-background: #fafafa;

// Layout
@layout-body-background: @body-background;
@layout-header-height: 60px;
@layout-header-padding: 0 24px;

// 👇 Small screen / tablet
@screen-sm: 640px;
// Medium screen / desktop
@screen-md: 768px;
// Large screen / wide desktop
@screen-lg: 1024px;
// Extra large screen / full hd
@screen-xl: 1280px;
// Extra extra large screen / large desktop
@screen-xxl: 1536px;

// Animation
@animation-duration-base: 0.15s;

// Others
@border-radius-base: 6px;
