.root {
  .container {
    padding: 10px 16px;
    overflow: hidden;

    .right {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      float: right;
      .link {
        font-weight: 500;
        font-size: 16px;
      }
    }
  }
}
